<div class="clr-row">
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
          Getting Started
        </div>
        <div class="card-block">
          <div class="card-title">
          </div>
          <div class="card-text">
            <h5>Use this tool to allow and manage public Internet access to your workloads by followings these steps:</h5>
            <br /> 
            <ol class="list">
                <li>Request a public IP for your workloads.</li>
                <li>Create a public DNS record for your new IP using the psolab.net, euclab.net, or even your personal domain.</li>
                <li>Create a NAT rule to map your public IP to a load balancer virtual IP (VIP) or the real IP of your target server.</li>
                <li>Optionally, review the existing Compute Gateway (CGW) firewall rules to ensure application specific traffic is allowed.</li>
                <li>Download a TLS web certificate for you application server if needed.</li>
            </ol>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>